parameters:
	binDir: %appDir%/../bin
	endpoint: %binDir%/execute-me

includes:
	- services.neon

services:
	debugger: h4kuna\Cli\App\Tools\Debugger(%debuggerFile%)

	# Commands
	- h4kuna\Cli\App\Commands\Tools\Composer
	- h4kuna\Cli\App\Commands\Tools\Debugger\Enable
	- h4kuna\Cli\App\Commands\Tools\Debugger\Disable
	- h4kuna\Cli\App\Commands\Tools\Debugger\Status

extensions:
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

console:
    name: 'Cli App'
    catchExceptions: false
    autoExit: true
    url: null
    lazy: false
